cmake-build-debug/
CMakeLists.txt
.idea/
Base.lproj
Info.plist
OpenGLGameEngine.entitlements
**/.DS_STORE
**/*.sln
**/*.vcxproj
**/*.vcxproj.filters
**/*.vcxproj.user
x64/
externalLibraries/
.vs/
**/*.log
**/*.pdb